@CHARSET "EUC-KR";

/* css 파일 import 방법
<link type="text/css" href="현재 파일에서 상대경로" rel="stylesheet" />
*/
body{ font-family: 나눔바른고딕}
#join-form{ padding: 30px 120px 0 180px;}
legend{font: bold 20pt 나눔바른고딕; color: #757575}
#message1 { color:red;}
#message2 { color:green;}
#msg1 {color: red;}
#msg2 {color: green;}
.title_join{font-size: 10pt; color: #757575; padding-right: 20px}
.join_submit, .con_join{padding: 10px 0 10px 0;}
.con_join{ padding-right: 10px;}
.email_id, .in_text{height: 15px;}
.email_id{ width: 120px;}
.birth, .sel_email, .city, .bt_join{height: 30px;}
.birth{width: 70px;}
.in_text{ width: 130px; height: 25px;}
.sel_email{ width: 135px;}
.bt_join{width: 80px;}
.join_submit #join{ margin-right: 20px;}

