#form-position{
	width: 530px;
	height: 417px;
	padding: 150px 0 0 170px;
}

#loginform{
	width: 320px;
	height: 270px;
	padding: 30px 0 0 50px;
}
.login-header{font-family: bebas; font-size: 35pt; color: #757575;}
.text { height: 25px; width: 150px}
.login_title{
	font-family: bebas; 
	font: 20pt #757575;
	padding: 0 15px 15px ;
}

#bt_row{padding: 20px 30px 0 55px; text-align: center; }

#bt_row #login{ margin-right: 10px;}